<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h1 class="text-center">Platforms</h1>
      <% @platforms.each do |platform| %>
        <%= link_to platform do %>
            <div class="well">
              <h4 class="text-center"><%= platform.title %></h4>
            </div>
        <% end %> 
      <% end %>
      <%= link_to 'New Platform', new_platform_path %>
    </div>
  </div>
</div>